html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}



body {

  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color:#082943;
  
}

ul {
	list-style-type: none;
	padding-left: 50px;
	margin: 0;
}

li {
	display: block;
	position: relative;
	padding: 20px 0px;
}


h2{
	font-family: monospace;
	font-size: 23px;
}

label{
	font-weight: bold;
	font-family: monospace;
	font-size: 17px;
}
.end{text-align: center;
	margin-left:40%;
    color: #fff;
	background-color: #690f1e;
	border-radius: 5px;
	box-shadow: 0 10px rgb(255, 255, 255);
	padding: 5px;
	margin-top: 80px;;
	
}


 
/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
	
	display: flex;
	flex-direction: column;	
	background: white;
	width: 900px;
	padding: 20px 80px;
	border-radius: 20px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}


@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
 
button {
    background-color: #690f1e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 800px;
    display: -webkit-inline-box;
    
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  


  
  /* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#size1 { 
	cursor: pointer; 
	font-weight: 700;
	
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: #454545;
	color: white;
	padding: 5px 10px;
	
	border-radius: 80px;
   
}

#size2 { 
	
	font-weight: 700;

	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: #454545;
	color: white;
	padding: 5px 10px;
	
	border-radius: 80px;
   
}
